<div class="container mt-4">
  <h1 class="text-center text-danger mb-4">Personajes de Dragon Ball Z</h1>

  <ul class="list-group">
    <li
      *ngFor="
        let personaje of characterList;
        let i = index;
        let isFirst = first;
        let isLast = last
      "
      class="list-group-item d-flex justify-content-between align-items-center"
      [ngClass]="{
        'list-group-item-success': isFirst,
        'list-group-item-danger': isLast
      }"
    >
      <div>
        {{ i + 1 }} <span>Nombre: </span>{{ personaje.nombre }}
        <span> -- Poder: </span><strong>{{ personaje.poder }}</strong>
        {{ personaje.uuid }}
      </div>

      <button
        id="{{ i + 1 }}"
        class="btn btn-danger"
        (click)="onDeletePersonajeMethod(personaje)"
      >
        X
      </button>
    </li>
  </ul>
  <div  class="alert alert-warning" *ngIf="characterList.length === 0">No hay personajes de Dragon Ball Z </div>
</div>
